body {
  text-align: center;
  font-family: sans-serif;
  background: #fff8e8;
}

h1 {
  margin-top: 40px;
}

canvas {
  background: white;
  border: 3px solid #333;
  border-radius: 15px;
  touch-action: none;
}

button {
  margin: 15px 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  font-size: 20px;
  font-weight: bold;
}

.players {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.player {
  width: 420px;
}

.player canvas {
  width: 400px;
  height: 320px;
}

#battleButton {
  margin-top: 30px;
  padding: 15px 35px;
  font-size: 20px;
}

#battleResult {
  margin: 30px auto;
  max-width: 900px;
  font-size: 20px;
  font-weight: bold;
}

#resultA,
#resultB {
  white-space: pre-line;
  line-height: 1.8;
  text-align: left;
}

#battleResult {
  white-space: pre-line;
  line-height: 1.8;

  max-width: 800px;
  margin: 40px auto;

  text-align: left;

  font-size: 18px;
  font-weight: normal;
}

#fieldArea {
  margin: 30px auto;
  text-align: center;
}

#fieldArea h2 {
  margin-bottom: 8px;
  font-size: 18px;
}

#fieldName {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}